<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<!-- Commons -->
	<display-name>SimpleFeatureService Web Application</display-name>

	<!-- pick up all spring application contexts -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/applicationContext.xml classpath*:/applicationSecurityContext.xml</param-value>
	</context-param>
	<!-- SOAP -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>sfs</servlet-name> -->
<!-- 		<servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>transformWsdlLocations</param-name> -->
<!-- 			<param-value>true</param-value> -->
<!-- 		</init-param> -->
<!-- 		<load-on-startup>1</load-on-startup> -->
<!-- 	</servlet> -->
	
	<!-- ReST -->
	<servlet>
		<servlet-name>sfs</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<servlet-mapping>
        <servlet-name>sfs</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
	

</web-app>
